services:
  postgres:
    image: postgres:15
    container_name: jm_postgres
    restart: always
    environment:
      POSTGRES_DB: jm_motors
      POSTGRES_USER: joseph_mairu
      POSTGRES_PASSWORD: JoseMairu28
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: jm_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "8080:80"
    depends_on:
      - postgres

volumes:
  postgres_data:
